.container {
    text-align: center;
}
.button {
    color: white;
    font-size: 28px;
    border-radius: 24px;
    padding: 15px;
    cursor: pointer;
    background-color: #f03030;
    border-color: #f03030;
    transition-duration: 300ms;
}
.button:hover {
    background-color: #ffeeee;
    color: black;
}