.container {
    text-align: center;
    padding: 5em;
}
.button {
    color: white;
    font-size: xx-large;
    border-radius: 16px;
    padding: .5em;
    cursor: pointer;
    background-color:  var(--red);
    transition-duration: 300ms;
    border: none;
}
.button:hover {
    background-color: #ffeeee;
    color: black;
}