.flexbox-inline {
  display: inline-flex;
  width: 100%;
}

.card {
  flex: 1;
  text-align: center;
  /* border: 0px solid #ffeeee; */
  border-top: none;
  height: 300px;
  margin: 2em;
  box-shadow: 2px rgba(0, 0, 0, 0.8);
}

.card-header {
  border-radius: 16px 16px 0 0;
  color: var(--white);
  padding: 0.5em 1em;
}

.card-body {
  background-color: var(--white);
  border-radius: 0 0 16px 16px;
  padding: 0.3em;
}

.header-red {
  background-color: var(--red);
}

.header-orange {
  background-color: var(--orange);
}

.header-green {
  background-color: var(--green);
}

input {
  font-size: x-large;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  padding: 0.5em;
}

input:focus {
  border: none;
  outline: none;
}

.input-area > .card-header {
  width: 40%;
  border-radius: 16px;
  background-color: rebeccapurple;
  padding: 0.5em 0 0 0;
}

.input-area > .card-header > .card-body {
  padding: 0%;
  width: 100%;
  border-radius: 0 0 16px 16px;
  background-color: var(--white);
}

#input-label {
  display: block;
  margin: 0.5em;
  background-color: rebeccapurple;
}

/* .button {
    margin: 0.5em;
    display: inline-flex;
    color: var(--black);
    font-size: x-large;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
    background-color:  var(--white);
    transition-duration: 300ms;
    border: none;
    padding: 0.2em 0.5em;
}
.button:hover {
    opacity: 0.6;
} */
ul {
  list-style-type: none;
}

.task-tile {
  background-color: var(--white);
  text-align: center;
  word-break: keep-all;
  border: 1px solid var(--black);
  border-radius: 12px;
  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.task-tile:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.task-content {
  padding: 0.5em;
}

.task-data {
  height: fit-content;
  display: flex;
  align-items: flex-end;
  padding: 0.5em;
}

.task-date {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.task-buttons-container {
  flex: 1;
  text-align: right;
}

.task-button {
  margin: 0.2em;
  padding: 0.2em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--green);
}

.task-delete {
  background-color: var(--red);
}

.cdk-drag-placeholder {
  opacity: 0.2;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
