.flexbox-inline{
    display: inline-flex;
    width: 100%;
}
.card{
    flex: 1;
    word-break: keep-all;
    text-align: center;
    /* border: 0px solid #ffeeee; */
    border-top: none;
    height: 300px;
    margin: 2em;
}
.card-header{
    border-radius: 16px 16px 0em 0em;
    color: var(--white);
    padding: 0.5em 1em;
}
.card-body{
    background-color: var(--white);
    border-radius:0 0 16px 16px;
  
}
.header-red{
    background-color: var(--red);
}
.header-orange{
    background-color: var(--orange);
}
.header-green{
    background-color: var(--green);
}
input{
    font-size: xx-large;
    width: 100%;
    background-color: var(--white);
    color:var(--black);
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
    padding: .5em;
}
input:focus{
    border: none;
    outline: none;
}
.input-area > .card-header{
    width: 40%;
    border-radius:16px;
    background-color: rebeccapurple;
    padding: 0.5em 0 0 0;
}
.input-area > .card-header > .card-body{
    padding: 0%;
    width: 100%;
    border-radius:0 0 16px 16px;
 background-color: var(--white);   
}
#input-label{
   display: block;
   margin: 0.5em;
   background-color: rebeccapurple;
}
.button {
    display: flex;
    color: var(--black);
    font-size: x-large;
    border-radius: 8px;
    font-weight: 900;
    cursor: pointer;
    background-color:  var(--white);
    transition-duration: 300ms;
    border: none;
    padding: 0.2em 0.5em;
}
.button:hover {
    opacity: 0.6;
}
