/* You can add global styles to this file, and also import other style files */
:root {
    --black:#0f0f0f;
    --white:#ffeeee;
    --red: #f03030 ;
    --orange:#f8861c;
    --green:#22a31d;
  }

@font-face {
    font-family: "Wix";
    src: local("Wix"), url(/assets/fonts/WixMadeforDisplay/WixMadeforDisplay-Regular.ttf) format("truetype");
}
*{
    font-family: Wix;
    background-color: #202020;
    margin: 0;
    padding: 0;
    margin: auto;
}